@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Mooli&display=swap");

.Main {
  text-align: center;
}

.Main-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Main-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Main-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  font-family: 'Comfortaa';
}

.App-link {
  color: #61dafb;
}

.pop {
  position: relative;
  width: 400px;
  height: 400px;
  display: inline-block;
  animation: moveLogo;
}

p.Title {
  font-weight: bold;
  font-size: 50px;
}

p.description {
  position:relative;
  color: #3F3CA2;
}

@keyframes moveLogo {
  from {
    margin: auto;
    width: 50%;
  }
  50% {
    margin: auto;
    width: 50%;
    transform: scale(2.0);
  }
  to {
    width: 30%
  }
}

/*
TODO: Style SignIn / SignUp
*/
.sign-up {
  margin: auto;
  font-family: 'Comfortaa';
}

.Main-signUp-signIn > * {
  margin-right: 15px;
  margin-left: 15px;
  font-style: bold;
  font-family: 'Comfortaa'
}

.Main-signUp-signIn {
  text-align: center;
}

.mid-logo {
  height: 80px;
  position: relative;
  top: 10px;
  left: 10px;
}

.sign-up-form {
  margin-block-start: 50px;
  width: 100%;
  size: relative;
}